
.layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; // ビューポートの高さに合わせる
  top: 0;

  .header {
    height: 10%;
    display: flex;
    flex-direction: row;

    .quantity {
      width: 20%;
      background-color: lightcyan;

    }
    .title-subtitle {
      width: 80%;
      display: flex;
      flex-direction: column;

      .title{
        height: 75%;
        background-color: lightgoldenrodyellow;
      }
      .subtitle{
        height: 25%;
        background-color: lightgreen;
      }
    }

  }

  .main-content {
    height: 45%;
    background-color: lightcoral;
  }

  .sidebar {
    height: 25%;
    display: flex;
    flex-direction: column;

    .type {
      height: 15%;
      background-color: lightgoldenrodyellow;
    }
    .description {
      height: 75%;
      background-color: plum;
    }
    .url {
      height: 10%;
      background-color: red;
    }

  }

  .footer {
    height: 10%;
    display: flex;
    flex-direction: row;

    .price {
      background-color: lightgreen;
      width: 20%;
    }

    .barCode {
      background-color: orange;
      width: 80%;
      
    }
  }

  .footer-nav {
    height: 10%;
    background-color: #eee;
  }
}
// 8







// @media (max-width: 767px) {
//   .navbar-nav {
//     flex-direction: row !important;
//   }
//   .nav-item {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }